{% extends 'u_base.html' %}
{% block content %} 

<h2>Book search
<hr>
</h2>

<center>
<form method="post" action="/booksearch/">
	{% csrf_token %} 
<table id="" border width="50%">
                    <tr><td><input class="form-control"  type="text" name="title" placeholder="Title of the Book"    size="50"  ></input>
                    <td><input class="form-control"  type="text" name="author" placeholder="Author"    size="50"  ></input>
                    <tr>  <td colspan=2><input class="form-control"  type="text" name="ISBN" placeholder="ISBN"   size="50"   onblur="validate3()"></input>
                   
                   
					<tr><td><td><input type="submit" class="form-control" value="Search"  size="50"  >
                
</table>
</form><br>

{% endblock %}