{% extends 'u_base.html' %}
{% block content %} 

<h2>Search results
<hr>
</h2>

<center>



<table width="100%" id="tab" >
<tr><th>#<th>First Name<th>Last Name<th>Email<th>Phone<th>Address<th>Department<th>
{% for d1 in data1 %}

<TR><TD>{{forloop.counter}}<TD>{{d1.fname}}<TD>{{d1.lname}}<TD>{{d1.email}}<TD>{{d1.phone}}<TD>{{d1.address}}<TD>{{d1.department}}<td>Student

{% endfor %}

{% for d1 in data2 %}

<TR><TD>{{forloop.counter}}<TD>{{d1.fname}}<TD>{{d1.lname}}<TD>{{d1.email}}<TD>{{d1.phone}}<TD>{{d1.address}}<TD>{{d1.department}}<td>Faculty

{% endfor %}

</table>


{% endblock %}